<!-- Main -->
<main>
  <div class="homeMain animated zoomIn">
    <div class="mt-5 pt-5">
      <div class="col text-center">
        <h2 class="animated fadeInDown" style="margin-top: 6rem; font-family: 'Berkshire Swash', cursive;">
          Notification Panel
        </h2>


        <h2 class="animated slideInLeft" style="margin-top: 15rem; font-family: 'Julius Sans One'"> home works!</h2>
        <h5 style="font-family: 'Berkshire Swash', cursive;">" It will always stay visible on the top, even when you scroll down "</h5>
        <br>
      </div>

    </div>
  </div>
</main>
<!-- /.Main -->


<br>

<div class="container" style="font-family: 'Comfortaa', cursive;">

  <div class="row">

    <div class="col-md-6">
      <div class="card animated slideInLeft" style=" border-radius: 20px;">
        <!--Title-->
        <div class="text-center" style="color: white; background-color: #2BBBAD !important; padding: 10px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
          <h4 class="card-title" style="margin-top: 1rem;">Recent Events</h4>
        </div>
        <hr>
        <!--Title-->
        <!--Card content-->
        <div class="card-body">

          <ul>
            <li>
              Smart Data interview on 21/10/2017
            </li>
            <li>
              Amazon mock test held .
            </li>
            <li>
              Infosys campus drive.
            </li>
          </ul>

          <p class="card-text text-right">
            Read more >></p>


        </div>

      </div>
    </div>

    <br>

    <div class="col-md-6">
      <div class="card animated slideInRight" style=" border-radius: 20px;">
        <!--Title-->
        <div class="text-center" style="color: white; background-color: #2BBBAD !important; padding: 10px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
          <h4 class="card-title" style="margin-top: 1rem;">Company Visited</h4>
        </div>
        <hr>
        <!--Title-->
        <!--Card content-->
        <div class="card-body">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-default waves-light " mdbRippleRadius>Button</a>

        </div>

      </div>
    </div>


  </div>



  <br>



  <!--second row-->
  <div class="row">


    <div class="col-md-6">
      <div class="card animated slideInLeft" style=" border-radius: 20px;">
        <!--Title-->
        <div class="text-center" style="color: white; background-color: #2BBBAD !important; padding: 10px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
          <h4 class="card-title" style="margin-top: 1rem;">Recently Placed Student</h4>
        </div>
        <hr>
        <!--Title-->
        <!--Card content-->
        <div class="card-body">

          <ul>
            <li>Max</li>
            <li>Sam</li>
            <li>Jackson</li>
            <li>Jhonson</li>
          </ul>

          <p class="card-text">Read more >></p>

        </div>

      </div>
    </div>

    <br>

    <div class="col-md-6">
      <div class="card animated slideInRight" style=" border-radius: 20px;">
        <!--Title-->
        <div class="text-center" style="color: white; background-color: #2BBBAD !important; padding: 10px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
          <h4 class="card-title" style="margin-top: 1rem;">Recent Notices</h4>
        </div>
        <hr>
        <!--Title-->
        <!--Card content-->
        <div class="card-body">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-default waves-light " mdbRippleRadius>Button</a>

        </div>

      </div>
    </div>


  </div>
  <!--second row-->

</div>



<br>
<br>
<br>
<br>

<div [@popOverState]="stateName">
  <p>Hello! I'm a helpful message.</p>
</div>
<button class="btn btn-default" (click)="toggle()">Toggle PopOver</button>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>