/*.card :hover{
    margin-bottom: 20px; 
    background-color: floralwhite;
}

.card :hover{
    color: white;
    background-color: #2BBBAD;
}

.strip :hover{
    background-color: #2BBBAD;
    padding: 20px;
}

.strip :hover{
    color: white;
    
}*/