<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="col">

        <div class="text-center">
          <i id="icon" class="fa fa-bell " style="text-shadow: rgb(30, 131, 121) 0px 0px 0px, rgb(31, 134, 124) 1px 1px 0px, rgb(31, 137, 126) 2px 2px 0px, rgb(32, 139, 129) 3px 3px 0px, rgb(33, 142, 131) 4px 4px 0px, rgb(33, 145, 134) 5px 5px 0px, rgb(34, 148, 137) 6px 6px 0px, rgb(35, 151, 139) 7px 7px 0px, rgb(35, 153, 142) 8px 8px 0px, rgb(36, 156, 144) 9px 9px 0px, rgb(37, 159, 147) 10px 10px 0px, rgb(37, 162, 150) 11px 11px 0px, rgb(38, 165, 152) 12px 12px 0px, rgb(38, 167, 155) 13px 13px 0px, rgb(39, 170, 157) 14px 14px 0px, rgb(40, 173, 160) 15px 15px 0px, rgb(40, 176, 163) 16px 16px 0px, rgb(41, 179, 165) 17px 17px 0px, rgb(42, 181, 168) 18px 18px 0px, rgb(42, 184, 170) 19px 19px 0px; font-size: 85px; color: rgb(255, 255, 255); height: 150px; width: 150px; line-height: 150px; border-radius: 50%; text-align: center; background-color: rgb(43, 187, 173);"></i>
        </div>

        <br>

        <div class="divider-new" style="margin: 0px;">
          <h2 class="middle" style=" font-family: 'Comfortaa';">Student Notifications</h2>
        </div>

        <!--mainCardBody-->
        <div class="mainCardBody">

          <br>
          <!--card-->
          <div class="card">
            <div class="card-header">

              <span class="badge badge-pill badge-default">Placement</span>

            </div>
            <div class="card-body">
              <h4 class="card-title"># Flipkart</h4>
              <div class="card-text">

                <div>
                  <ul>
                    <li>
                      <span class="badge badge-default">Event Date : </span> 11/12/2017
                    </li>
                    <li>
                      <span class="badge badge-default">Venue : </span> RCOM, Nagpur
                    </li>
                    <li> <span class="badge badge-default">Description : </span> This is a wider card with supporting text below
                      as a natural lead-in to additional content. This content is a little bit longer. This is a wider card
                      with supporting text below as a natural lead-in to additional content. This content is a little bit
                      longer. This is a wider card with supporting text below as a natural lead-in to additional content.
                      This content is a little bit longer.
                    </li>
                  </ul>
                </div>

                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
                longer.
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">

                <span class="badge badge-default">Default</span>
                <span class="badge badge-primary">Primary</span>
                <span class="badge badge-success">Success</span>
                <span class="badge badge-info">Info</span>
                <span class="badge badge-warning">Warning</span>
                <span class="badge badge-danger">Danger</span>

                <span class="badge badge-pill pink">Default</span>
                <span class="badge badge-pill light-blue">Primary</span>
                <span class="badge badge-pill indigo">Success</span>
                <span class="badge badge-pill purple">Info</span>
                <span class="badge badge-pill orange">Warning</span>
                <span class="badge badge-pill green">Danger</span>

            </small>
            </div>
          </div>
          <!--card-->



          <hr>

          <!--card-->
          <div class="card">
            <div class="card-header">

              <span class="badge badge-pill badge-default">Placement</span>

            </div>
            <div class="card-body">
              <h4 class="card-title"># Amazon</h4>
              <div class="card-text">

                <div>
                  <ul>
                    <li>
                      <span class="badge badge-default">Event Date : </span> 02/11/2017
                    </li>
                    <li>
                      <span class="badge badge-default">Venue : </span> KDK, Nagpur
                    </li>
                    <li> <span class="badge badge-default">Description : </span> This is a wider card with supporting text below
                      as a natural lead-in to additional content. This content is a little bit longer. This is a wider card
                      with supporting text below as a natural lead-in to additional content. This content is a little bit
                      longer. This is a wider card with supporting text below as a natural lead-in to additional content.
                      This content is a little bit longer.
                    </li>
                  </ul>
                </div>

                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
                longer.
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">

                <span class="badge badge-default">Default</span>
                <span class="badge badge-primary">Primary</span>
                <span class="badge badge-success">Success</span>
                <span class="badge badge-info">Info</span>
                <span class="badge badge-warning">Warning</span>
                <span class="badge badge-danger">Danger</span>

                <span class="badge badge-pill pink">Default</span>
                <span class="badge badge-pill light-blue">Primary</span>
                <span class="badge badge-pill indigo">Success</span>
                <span class="badge badge-pill purple">Info</span>
                <span class="badge badge-pill orange">Warning</span>
                <span class="badge badge-pill green">Danger</span>

            </small>
            </div>
          </div>
          <!--card-->



          <hr>

          <!--card-->
          <div class="card">
            <div class="card-header">

              <span class="badge badge-pill badge-default">Placement</span>

            </div>
            <div class="card-body">
              <h4 class="card-title"># Smart Data</h4>
              <div class="card-text">

                <div>
                  <ul>
                    <li>
                      <span class="badge badge-default">Event Date : </span> 22/11/2017
                    </li>
                    <li>
                      <span class="badge badge-default">Venue : </span> Smart Data, Mihan
                    </li>
                    <li> <span class="badge badge-default">Description : </span> This is a wider card with supporting text below
                      as a natural lead-in to additional content. This content is a little bit longer. This is a wider card
                      with supporting text below as a natural lead-in to additional content. This content is a little bit
                      longer. This is a wider card with supporting text below as a natural lead-in to additional content.
                      This content is a little bit longer.
                    </li>
                  </ul>
                </div>

                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
                longer.
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">

                <span class="badge badge-default">Default</span>
                <span class="badge badge-primary">Primary</span>
                <span class="badge badge-success">Success</span>
                <span class="badge badge-info">Info</span>
                <span class="badge badge-warning">Warning</span>
                <span class="badge badge-danger">Danger</span>

                <span class="badge badge-pill pink">Default</span>
                <span class="badge badge-pill light-blue">Primary</span>
                <span class="badge badge-pill indigo">Success</span>
                <span class="badge badge-pill purple">Info</span>
                <span class="badge badge-pill orange">Warning</span>
                <span class="badge badge-pill green">Danger</span>

            </small>
            </div>
          </div>
          <!--card-->

        </div>
        <!--mainCardBody-->

      </div>
    </div>
  </div>
</main>
<!-- /.Main -->