<!--<div class="mt-5 pt-5">
  <div class="notifyCover1 text-center">
    <img src="../../assets/images/notify1.jpg" alt="cover1">
  </div>
</div>-->


<!-- Main -->
<main>
  <div class="car container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="col">

        <div class="card" style="height:1000px;">
          <!--Title-->
          <div style="color: white; background-color: #2BBBAD !important; padding: 10px; ">
            <h4 class="card-title" style="margin-top: 10px;">

              <i id="icon" class="fa fa-bullhorn" style="text-shadow: rgb(30, 131, 121) 0px 0px 0px, rgb(31, 136, 126) 1px 1px 0px, rgb(32, 141, 131) 2px 2px 0px, rgb(34, 146, 135) 3px 3px 0px, rgb(35, 151, 140) 4px 4px 0px, rgb(36, 156, 145) 5px 5px 0px, rgb(37, 162, 149) 6px 6px 0px, rgb(38, 167, 154) 7px 7px 0px, rgb(39, 172, 159) 8px 8px 0px, rgb(41, 177, 164) 9px 9px 0px, rgb(42, 182, 168) 10px 10px 0px; font-size: 40px; color: rgb(255, 255, 255); height: 63px; width: 63px; line-height: 63px; border-radius: 50%; text-align: center; background-color: rgb(43, 187, 173);"></i>              Notification's



            </h4>
          </div>
          <!--Title-->

          <!--Card content-->
          <div class="card-body">
            <div class="text-center">
              <a href="#" class="btn waves-light bg-default" [routerLink]="['./regular-notify']" mdbRippleRadius>Regular Notify</a>
              <a href="#" class="btn waves-light bg-default" [routerLink]="['./company-notify']" mdbRippleRadius>Company Notify</a>
            </div>

            <router-outlet> </router-outlet>

          </div>
        </div>

      </div>

    </div>
  </div>
</main>
<!-- /.Main -->